.root {
	-fx-base: rgb(250, 250, 250);
	/*-fx-background: rgb(110, 110, 110);*/
	-fx-background: #575b5e;
	-fx-control-inner-background:  rgb(110, 110, 110);
}

 .thick-chart .chart-series-line {    
-fx-stroke-width: 1px;
}

 .choice-box .menu-item:focused {
  -fx-background-color: orange; 
}

.choice-box .context-menu {
    -fx-background-color: darkgrey;
}

.choice-box .label {
     -fx-text-fill: black; 
}
 
.menu-bar {
	-fx-background-color: linear-gradient(to bottom, -fx-base, derive(-fx-base,30%));
}
 
.tool-bar:horizontal {
	-fx-background-color:
	linear-gradient(to bottom, derive(-fx-base,+50%), derive(-fx-base,-40%), derive(-fx-base,-20%));
}
 

#allFiltersToolTip {
	-fx-font-size: 14px;
}
 
.tooltip {
	-fx-font-size: 16px;
}

.table-view .column-header .label {
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.button:hover, .menu-button:hover {
-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
-fx-color: -fx-hover-base;
}

.button:pressed, .menu-button:pressed {
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 10, 0.75, 1, 0);
}
 
.table-view {
	-fx-table-cell-border-color:derive(-fx-base,+10%);
	-fx-table-header-border-color:derive(-fx-base,+20%);
}
 
.split-pane:horizontal > * > .split-pane-divider {
	-fx-border-color: transparent -fx-base transparent -fx-base;
	-fx-background-color: transparent, derive(-fx-base,20%);
	-fx-background-insets: 0, 0 1 0 1;
}
 
.my-gridpane {
	-fx-background-color: radial-gradient(radius 100%, derive(-fx-base,20%), derive(-fx-base,-20%));
}
 
.separator-label {
	-fx-text-fill: orange;
}

/** TAB PANE START*/
/* */
/* */
/* */
.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
    -fx-background-color: linear-gradient(to top, -fx-base, derive(-fx-base,30%));
}
.tab-pane .tab
{
    -fx-background-color: #e6e6e6;

}

.tab-pane .tab:selected
{
    -fx-background-color: #3c3c3c;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #FFB800;
}
/** TAB PANE START*/

/** SEPARATOR START */
/* */
/* */
/* */
.separator {
    -fx-skin: "com.sun.javafx.scene.control.skin.SeparatorSkin";
}

.separator .line {
    -fx-border-width: 0.085em; /* 1 */
}

.separator:horizontal .line {
    -fx-background-color: null;
    -fx-border-color: derive(-fx-background,+90%) transparent transparent transparent;
}

.separator:vertical .line {
    -fx-background-color: null;
    -fx-border-color:  transparent derive(-fx-background,+90%) transparent transparent;
}
/** SEPARATOR END*/


/** CHECKBOX START */
/** CHECKBOX START */
/** CHECKBOX START */
/** CHECKBOX START */
.check-box:hover .box {
    -fx-color: derive(-fx-background,+140%);
}

/** CHECKBOX END */


/** HBOX TOP "REPORTS" LABEL */
/** HBOX TOP "REPORTS" LABEL */
/** HBOX TOP "REPORTS" LABEL */
#hboxMainTop {
	 	 -fx-background-color: 
        #090a0c,
        linear-gradient(#f5f5f5 0%, #000000 20%, #000000 100%),
/*        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),*/
        linear-gradient(#f5f5f5, #757575),
        radial-gradient(center 50% 0%, radius 400%, rgba(245,245,245,0.9), rgba(155,155,155,0));
/*        radial-gradient(center 50% 0%, radius 200%, rgba(114,131,148,0.9), rgba(177,177,177,0));*/
    -fx-background-radius: 2,2,2,2;
    -fx-background-insets: 0,1,2,0;
}

#hboxMainTop .label {
	  -fx-text-fill: black;
}

/** HBOX TOP "REPORTS" LABEL */
/** HBOX TOP "REPORTS" LABEL */
/** HBOX TOP "REPORTS" LABEL */
/** HBOX TOP "REPORTS" LABEL */

/** SINGLE THINGS */
/** SINGLE THINGS */
/** SINGLE THINGS */
#hboxActiveFilters {
	 -fx-background-color:        #b06000,
        linear-gradient(#ffffff 0%, #000000 20%, #000000 100%),
        linear-gradient(#ff8b00, #b06000);
}

/* whole FILTERS row */
#hboxAllFilters {
	 	 -fx-background-color: 
        #090a0c,
        linear-gradient(#f5f5f5 0%, #000000 20%, #000000 100%),
/*        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),*/
        linear-gradient(#f5f5f5, #757575),
        radial-gradient(center 50% 0%, radius 400%, rgba(245,245,245,0.9), rgba(155,155,155,0));
/*        radial-gradient(center 50% 0%, radius 200%, rgba(114,131,148,0.9), rgba(177,177,177,0));*/
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-padding: 10 17 10 17;
}

/* labels of filters */
#hboxAllFilters .label {
	  -fx-text-fill: black;
}

/* labels of filters */
#activeFiltersLab {
	-fx-font-weight: bold;
}


#optionsVbox {
    -fx-background-radius: 5,4,3,5;
}

/* READY Label */
#mainLayoutBottom {
	-fx-background-color: 
        #090a0c,
        linear-gradient(#ffffff 0%, #000000 20%, #000000 100%),
        linear-gradient(#ffffff, #000000),
        radial-gradient(center 50% 0%, radius 400%, rgba(50,50,50,0.9), rgba(155,155,155,0));
        /*linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 300%, rgba(114,131,148,0.9), rgba(255,255,255,0));*/
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-padding: 7 17 7 17;
}

#buttonStats {
	 -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-effect: dropshadow( three-pass-box , rgba(1,1,1,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 16px;
    -fx-padding: 7 17 7 17;
}
/** SINGLE THINGS */
/** SINGLE THINGS */
/** SINGLE THINGS */
/** SINGLE THINGS */
/** SINGLE THINGS */
/** SINGLE THINGS */


/** BUTTON START*/
/** */
/** */
/** */
.button, .menu-button {
 -fx-background-color: 
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 7,7,6;
    -fx-background-insets: 0,1,2;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.12) , 5, 0.0 , 0 , 1 );
}

.menu-item:focused {
     -fx-background-color: transparent;
}

/** BUTTON END*/


/** DatePicker style */
.datepicker-invalid
{
    -fx-border-color: red;
}

.datepicker-valid
{
    -fx-border-color: null;
}

/* The main calendar pane */
.calendar {

}

/* The calendar header, which contains the navigation elements. */
.calendar-header
{
    -fx-background-color: linear-gradient(to bottom, derive(-fx-base,-70%), derive(-fx-base,-90%));
    -fx-padding: 0.5em;
   /* -fx-background-radius: 10;*/
}

/* The calendar footer, which contains the today button. It is only visible when the today button is shown */
.calendar-footer
{
    -fx-background-color: linear-gradient(to top, derive(-fx-base,-70%), derive(-fx-base,-90%));
    -fx-padding: 0.2em;
}

/* The 3 different panes, which show the month, the year, and the decades */
.calendar-month-view, .calendar-year-view, .calendar-decades-view
{
    -fx-background-color: linear-gradient(to bottom, derive(-fx-base,80%), derive(-fx-base,40%));
    -fx-padding: 0;
}

/* The usual button which either display the day of the current month, or the month in the year view, or the year in the decades view */
.calendar-cell-current-month, .calendar-year-button, .calendar-month-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-cursor: hand;
    -fx-padding: 0.7em;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
}

/* The hover state of the buttons */
.calendar-cell-current-month:hover, .calendar-year-button:hover, .calendar-month-button:hover {
    -fx-background-color: -fx-cell-hover-color;
}

/* The day buttons for the previous and next month. */
.calendar-cell-other-month {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-opacity: 0.7;
    -fx-cursor: hand;
    -fx-padding: 0.7em;
    -fx-background-radius: 8;
}

/* The hover state of this button. */
.calendar-cell-other-month:hover {
    -fx-background-color: -fx-cell-hover-color;
}

/* The button which shows the current day. */
.calendar-cell-today {
     -fx-background-color: -fx-accent;
}

/* The buttons in the header and the footer */
.calendar-navigation-button, .calendar-navigation-title, .calendar-today-button {
    -fx-background-color: null;
    -fx-cursor: hand;
    -fx-text-fill: white;
}

/* don't make the title button transparent, when it is disabled in the decades view */
.calendar-navigation-title:disabled {
    -fx-opacity: 1;
}

/* The arrow for navigation. SVG is used for it. */
.calendar-navigation-arrow {
    /*padding determines the size of the arrow; This should match the design size in the SVG */
    -fx-padding: 4 3.5 4 3.5;
    -fx-padding: 0.333333em 0.333333em 0.333333em 0.333333em; /* 2 3.5 2 3.5 */
    -fx-shape: "M 100 100 L 300 100 L 200 300 z";
    -fx-background-color: #ffffff;
}

/* The cell which contain the week day names */
.calendar-weekdays {
    -fx-background-color: -fx-body-color;
    -fx-padding: 3px;
}

.calendar-week-number {
    -fx-font-size: 0.8em;
    -fx-padding: 4px;
}

