<?xml version="1.0" encoding="UTF-8"?>
<configuration>
        <appender name="recordfetcher" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/recordfetcher.log</file>
                <encoder>
                        <pattern>%date - [%level] - %logger{1} in %thread  %message%xException%n</pattern>
                </encoder>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>./logs/recordfetcher.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <maxHistory>7</maxHistory>
                <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <MaxFileSize>500MB</MaxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>

        </rollingPolicy>
        </appender>


         <logger name="jayeson.lib.recordfetcher" level="off" additivity="false">
                <appender-ref ref="recordfetcher" />
        </logger>

         <logger name="jayeson.lib.datastructure" level="off" additivity="false">
                <appender-ref ref="recordfetcher" />
        </logger>
</configuration>